Source: libcrypt-random-seed-perl
Section: perl
Priority: optional
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Salvatore Bonaccorso <carnil@debian.org>
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: perl
Standards-Version: 3.9.4
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-perl/packages/libcrypt-random-seed-perl.git
Vcs-Git: git://anonscm.debian.org/pkg-perl/packages/libcrypt-random-seed-perl.git
Homepage: https://metacpan.org/release/Crypt-Random-Seed/

Package: libcrypt-random-seed-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: Perl module providing strong randomness for seeding
 Crypt::Random::Seed implements a simple mechanism to get strong
 randomness. The main purpose of this module is to provide a simple way
 to generate a seed for a PRNG such as Math::Random::ISAAC, for use in
 cryptographic key generation, or as the seed for an upstream module
 such as Bytes::Random::Secure. Flags for requiring non-blocking sources
 are allowed, as well as a very simple method for plugging in a source.
